.img {
    justify-content: center;
}
.section.is-large {
    padding-top : 0px;
} 
.brand-icon {
    display: flex;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
.fa-github {
    // text-decoration: none;
    color: white;
}